# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual env
venv/
.venv/
env/

# macOS
.DS_Store

# logs
*.log

# IDE
.vscode/
.idea/

# database
*.db

# netwatch data
devices.json
subnets.json
events.json
telegram.json
auth.json